<div class="container">
  <h2 class="text-center">Questions? Look here.</h2>
  <blockquote class="blockquote">
      <p class="mb-0">Can't find an answer here. Please give us a call on 012 345 6789</p>
    </blockquote>
    <hr class="mb-4">
  <div class="row">
    <div class="col-12">
        <accordion>
            <accordion-group [isOpen]="true"> 
                  <div class="accordionHeader" accordion-heading>
                    <div class="d-flex">
                      <div class="mr-1">
                        <span class="material-icons opened">keyboard_arrow_right</span>
                        <span class="material-icons closed">keyboard_arrow_down</span>
                      </div>
                      <div><h4>Question?</h4></div>
                    </div>
                      
                  </div>
                  Answer goes here
            </accordion-group>

          </accordion>
    </div>
  </div>
</div>