@import "./../../sass/main";

.accordionHeader{
    cursor: pointer;
}
.panel{
    margin-top: 1rem;
    &.panel-open{
        .opened{
            display: none;
        }
        .closed{
            display: block;
        }
    }
    

    .opened{
        display: block;
    }
    .closed{
        display: none;
    }
}



.blockquote{
    font-size: 1rem;
    text-align: center;
}