
body{
    font-family: $fontFamily!important;
    margin: 0;
    padding: 0;
    background-color: rgb(243, 243, 243);
    height: 100%;
}
.white-bg{
    background-color: #fff;
}
.grey-bg{
    background-color: $lightGrey;
}
.cursor{
    cursor: pointer;
}
.red-text{
    color: $red;
}
.btn-primary{
    background-color: $red;
    border:none;
    border-radius: 0;
    &:hover{
        background-color:$lightRed;
    }
    &:active{
        background-color: $lightRed!important;
    }
    &:focus{
        outline: none;
        box-shadow: none;
    }
}
.btn-secondary{
    background-color: $black;
    border:none;
    border-radius: 0;
    &:hover{
        background-color:$grey;
    }
    &:active{
        background-color: $grey!important;
    }
    &:focus{
        outline: none;
        box-shadow: none;
    }
}

h2{
    font-size: 3rem;
    color: $blue;
}


.loader{
    position: absolute;
    z-index: 6000;
    background-color: rgba(255,255,255,0.5);
    .text{
        position: absolute;
        top: 150px;
        width: 100%;
        text-align: center;
        margin: 0px auto; 
        font-weight: bold;
    }
}
.spinner {
    width: 40px;
    height: 40px;
    background-color:$red;
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }