<div class="row">
  <div class="col-12">
    <carousel interval="3000">
      <slide>
        <img src="" alt="first slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img src="" alt="second slide" style="display: block; width: 100%;">
      </slide>
      <slide>
        <img src="" alt="third slide" style="display: block; width: 100%;">
      </slide>
    </carousel>
  </div>

</div>