@import "./../../sass/main";
.product{
    padding: 10px 10px;
    background-color: $lightGrey;
    text-align: center;
    height: 100%;
    cursor: pointer;
    position: relative;
    &::after{
        content:"";
        position: absolute;
        left:0;
        bottom: 0px;
        height: 0px;
        background-color: #fff;
        width: 100%;
        opacity: .7;
        z-index: 20;
        -webkit-transition: height .3s;
        -moz-transition: height .3s;
        -o-transition: height .3s;
        transition: height .3s;
    } 
    &:hover{
        &::after{
            height: 50px;
        }
    }
   
    
    h3{
        position: relative;
        text-align: center;
        font-size: 1rem;   
        z-index: 30; 
    }
}

@media (max-width:992px) {
    .col-sm-6{
        margin-top: 10px;
    }
}