@import "./../../../sass/main";
.imageGallery{
    background-color: $grey;
    .mainImage{
       padding: 1rem;
    }

    .thumbHolder{
       
        .thumb{
            padding: 1rem;
        }
    }
}
.card{
    padding: 1rem;
    border-radius: 0;
    border: none;
}

.material-icons {
    vertical-align: -8px; /*Change this to adjust the icon*/
}
h4{
    margin-top: 1rem;
    padding-bottom: 10px;
    border-bottom: 2px solid $grey;
    font-size: 1.1rem;
    
}
table{
    td{
        font-size: .9rem;
    }
}

.product-features{
    ul{
        padding-left: 20px!important;
    }
    p{
        margin-bottom: 5px;
    }
}

@media (max-width:572px){
    .mainImage{
        display: none;
    }
}
