<div class="container">
  <div class="row" *ngIf="product && selectedCategory">
    <div class="col-sm-4 col-12">
      <div class="imageGallery" >
        <div class="mainImage">
          <img [src]="selectedImage" width="100%">
        </div>
        <div class="thumbHolder">
          <div class="d-flex" *ngIf="product.mainImageUrl && product.image1Url">
          <div class="thumb" (click)="chooseImage(product.mainImageUrl)"><img [src]="product.mainImageUrl" width="100%"></div>
          <div class="thumb" *ngIf="product.image1Url" (click)="chooseImage(product.image1Url.url)"><img [src]="product.image1Url.url" width="100%"></div>
          <div class="thumb" *ngIf="product.image2Url" (click)="chooseImage(product.image2Url.url)"><img [src]="product.image2Url.url" width="100%"></div>
          <div class="thumb" *ngIf="product.image3Url" (click)="chooseImage(product.image3Url.url)"><img [src]="product.image3Url.url" width="100%"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-12">
      <div class="card">
          <div>
              
              <a [routerLink]="'/products'">{{selectedCategory.name}}</a> / 
              <a >{{product.name}}</a>
              
              <button class="btn btn-primary float-right" [routerLink]="'/products'">Back</button>
            </div>
          <h3>{{product.name}}</h3>
          <p *ngIf="product.price != 0">{{product.price | currency:"R "}} <span class="text-muted">Incl. VAT</span></p>
          <p *ngIf="product.price == 0"><span class="text-muted">Price on Request</span></p>

          <button class="btn btn-primary" (click)="showForm = !showForm">
            <span>Request Quote </span>
            <span *ngIf="!showForm" class="material-icons">keyboard_arrow_right</span>
            <span *ngIf="showForm" class="material-icons">keyboard_arrow_down</span>
          </button>

          <div class="requestForm mt-2" *ngIf="showForm">
            <form #reqForm="ngForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input name="name" class="form-control" [(ngModel)]="request.name" required>
                  </div>
                  <div class="form-group">
                      <label for="email">Email</label>
                      <input name="email" class="form-control" type="email" [(ngModel)]="request.email" required email>
                    </div>
                    <div class="form-group">
                        <label for="cellphone">Cell Number</label>
                        <input name="cellphone" class="form-control" [(ngModel)]="request.phone">
                      </div>
                      <button class="btn btn-primary" [disabled]="reqForm.invalid" type="button" (click)="sendRequest()">Send Request</button>
                      <p class="red-text mt-1">{{successMessage}}</p>
            </form>
          </div>
          
          <div class="product-features">
          <h4>Product Features</h4>
          <p [innerHTML]="product.description | safeHtmlList"></p>
          <p *ngIf="product.featuresText" [innerHTML]="product.featuresText | safeHtml"></p>
          </div>
          <div class="specifications" *ngIf="hasSpecs">
          <h4>Specifications</h4>
          <table class="table mt-1">
            <tr>
              <td width="25%">Air Volume (m<sup>3</sup>/h)</td>
              <td width="20%">{{product.specifications.volume}}</td>
              <td>Water Consumption (L/H)</td>
              <td width="20%">{{product.specifications.waterConsumption}}</td>
            </tr>
            <tr>
              <td>Power (kw)</td>
              <td>{{product.specifications.power}}</td>
              <td>Size of air outlet (mm)</td>
              <td>{{product.specifications.sizeAirOutlet}}</td>
            </tr>
            <tr>
              <td>Voltage (V)</td>
              <td>{{product.specifications.voltage}}</td>
              <td>Outside Dimension (mm)</td>
              <td>{{product.specifications.outsideDimension}}</td>
            </tr>
            <tr>
              <td>Frequency (Hz)</td>
              <td>{{product.specifications.frequency}}</td>
              <td>Applicable Area (m<sup>2</sup>)</td>
              <td>{{product.specifications.applicableArea}}</td>
            </tr>
            <tr>
              <td>Weight (kg)</td>
              <td>{{product.specifications.weight}}</td>
            </tr>
          </table>
          </div>

  
      </div>
    </div>
  </div>
</div>
