@import "./../../sass/main";
.dropdown-toggle{
    cursor: pointer;
}
.navbar.navbar-expand-lg{
    // background-color: rgba(192, 192, 192, 0.6);
    background-color: $lightGrey;
}
.nav-item{
    &.active{

    }
    border: 1px solid $darkGrey;
    margin-right: 1rem;
    &.active{
        .nav-link{
            border-bottom: 2px solid $grey;
        }
    }
    &:hover:not(.active){
        .nav-link{
            border-bottom: 2px solid $grey;
        }
    }
    .nav-link{
        color: $darkGrey;
    }
}

  .navbar-toggler {
    border: none;
    position: absolute;
    right: 0;
    top: 20px;
    padding: 0.25rem 1.75rem;
    outline: none;
    z-index: 100;
    .navbar-toggler-icon {
      border-bottom: 1px solid $grey;
      margin-bottom: 8px;
      height: 3px;
      display: block;
    }
  }

@media (max-width:992px) {
    .navbar {
      .nav-item {
        border: none;
      }
    }
    #navbar {
      position: relative;
      ul {
        z-index: 10;
      }
      $opacityTrans:opacity 0.25s ease-out;
      $heightTrans:height 0.25s ease-out;
      .menu-active {
          -webkit-transition: $opacityTrans;
          -moz-transition: $opacityTrans;
          -o-transition: $opacityTrans;
          transition: $opacityTrans;
          opacity: 1;
        li {
          height: 50px;
          -webkit-transition: $heightTrans;
          -moz-transition: $heightTrans;
          -o-transition: $heightTrans;
          transition: $heightTrans;
        }
      }
      .menu-inactive {
          opacity: 0;
          -webkit-transition: $opacityTrans;
          -moz-transition: $opacityTrans;
          -o-transition: $opacityTrans;
          transition: $opacityTrans;
        li {
          height: 0;
          -webkit-transition: $heightTrans;
          -moz-transition: $heightTrans;
          -o-transition: $heightTrans;
          transition: $heightTrans;
        }
      }
    }
  }
