<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" routerLink="/">
        <img src="" width="150px">
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
  </button>
  
    <div class="navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto" *ngIf="!adminNav"  (click)="setMenu(false)" [ngClass]="[menuState?'menu-active':'menu-inactive']">
        <li class="nav-item" [ngClass]="{'active':router.url=='/'||router.url=='/home'}">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" [ngClass]="{'active':router.url=='/about'}">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item" [ngClass]="{'active':router.url=='/faq'}">
            <a class="nav-link" routerLink="/faq">FAQ</a>
          </li>
        <li class="nav-item" [ngClass]="{'active':router.url=='/products'}">
          <a class="nav-link" routerLink="/products">
            Products
          </a>
        </li>
        <li class="nav-item" [ngClass]="{'active':router.url=='/contactus'}">
          <a class="nav-link" routerLink="/contactus">Contact Us</a>
        </li>
      </ul>

      <!-- Admin Nav -->
      <ul class="navbar-nav ml-auto" *ngIf="adminNav" (click)="setMenu(false)" [ngClass]="[menuState?'menu-active':'menu-inactive']">
        <li class="nav-item" [ngClass]="{'active':router.url=='/admin/manageproducts'}">
          <a class="nav-link" routerLink="/admin/manageproducts">Manage Products</a>
        </li>
        <li class="nav-item" [ngClass]="{'active':router.url=='/admin/orders'}">
          <a class="nav-link" routerLink="/admin/orders">Orders</a>
        </li>
        <li class="nav-item" [ngClass]="{'active':router.url=='/admin/analytics'}">
          <a class="nav-link" routerLink="/admin/analytics">Analytics</a>
        </li>
  
        <li class="nav-item" >
            <a class="nav-link cursor" (click)="logOut()">Logout</a>
          </li>
      </ul>
    </div>
  </nav>