@import "../../../sass/main";

.active{
    border-bottom:1px solid $darkGrey;
}
.categoriesColumn{
    
}

table{
    td{
        .dropdown-menu.show{
            top: 60%!important;
        }
    }
}

.existingImages{
    border-bottom: 1px solid $darkGrey;
    padding-bottom: 10px;
    margin-bottom: 10px;
    p{
        margin-bottom: 0;
        font-weight: 500;
    }
    img{
        max-width: 250px;
        // min-height: 250px;
    }
    .material-icons{

    }
    text-align: center;

}