<div class="loader w-100 h-100" *ngIf="loading">
    <div class="spinner"></div>
    <div class="text">Fetching Products</div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-sm-3 col-12">
      <div class="categoriesColumn">
        <h3 class="mb-3">Categories <span class="material-icons red-text cursor" (click)="addCategory()" *ngIf="newCategory==undefined">add_circle_outline</span></h3>

        <div class="newCategory" *ngIf="newCategory">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" [(ngModel)]="newCategory.name">
          </div>
          <div class="d-flex">
            <button class="btn btn-secondary mr-1" (click)="cancelCategory()">Cancel</button>
            <button class="btn btn-primary" (click)="createCategory()">Add</button>
          </div>
        </div>

        <div *ngIf="!newCategory">
          <div *ngFor="let category of categories | async" class="border-right" [ngClass]="{'active':category._id==selectedCategory._id}">

            <div class="d-flex">
              <div class="pl-1 w-100 cursor" (click)="setCategory(category)">{{category.name}}
                <span *ngIf="" class="material-icons">chevron_right</span>
              </div>
              <div class="btn-group mr-1 flex-shrink-1 cursor" *ngIf="category._id==selectedCategory._id" dropdown>
                <div id="button-custom-html" dropdownToggle>
                  <span class="material-icons">delete_forever</span>
                </div>
                <div *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-custom-html">
                  <div class="p-2">
                    <p>Are you sure you want to delete this category?</p>
                    <div class="d-flex">
                      <button class="btn btn-secondary mr-1">Cancel</button>
                      <button (click)="deleteCat(category)" class="btn btn-primary">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>


    </div>
    <div class="col-sm-9 col-12">
      <h3 class="mb-3">Products <span class="material-icons red-text cursor" (click)="addProduct()" *ngIf="newProduct== undefined || categories">add_circle_outline</span></h3>

      <div class="newProduct" *ngIf="newProduct">
        <form #newproduct="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input name="name" class="form-control" [(ngModel)]="newProduct.name" required>
          </div>
          <div class="form-group">
            <label for="productNo">Product Number <span class="text-muted">(Used to sort the products)</span></label>
            <input name="productNo" type="number" min="0" min="0" class="form-control" [(ngModel)]="newProduct.productNo" required>
          </div>
          <div class="form-group">
            <label for="shortDesc">Short Description</label>
            <input name="shortDesc" class="form-control" [(ngModel)]="newProduct.shortDescription" required>
          </div>
          <div class="form-group">
            <label for="featList">Features List<span class="text-muted">(Start each item with " - " )</span></label>
            <textarea rows="5" name="featList" class="form-control" [(ngModel)]="newProduct.description" required></textarea>
          </div>
          <div class="form-group">
            <label for="featText">Features Free Text <span class="text-muted">(Type "&lt;br/&gt;" to add a line break)</span></label>
            <textarea rows="3" name="featText" class="form-control" [(ngModel)]="newProduct.featuresText"></textarea>
          </div>
          <table class="table">
            <tr>
              <td>Air Volume (m<sup>3</sup>/h)</td>
              <td><input class="form-control" [(ngModel)]="newProduct.specifications.volume" name="specvolume"></td>
              <td>Water Consumption (L/H)</td>
              <td><input class="form-control" [(ngModel)]="newProduct.specifications.waterConsumption" name="specwaterConsumption"></td>
            </tr>
            <tr>
              <td>Power (kw)</td>
              <td><input class="form-control" [(ngModel)]="newProduct.specifications.power" name="specpower"></td>
              <td>Size of air outlet (mm)</td>
              <td><input class="form-control" [(ngModel)]="newProduct.specifications.sizeAirOutlet" name="specsizeAirOutlet"></td>
            </tr>
            <tr>
              <td>Voltage (V)</td>
              <td><input class="form-control" [(ngModel)]="newProduct.specifications.voltage" name="specvoltage"></td>
              <td>Outside Dimension (mm)</td>
              <td><input class="form-control" [(ngModel)]="newProduct.specifications.outsideDimension" name="specoutsideDimension"></td>
            </tr>
            <tr>
              <td>Frequency (Hz)</td>
              <td><input class="form-control" [(ngModel)]="newProduct.specifications.frequency" name="specfrequency"></td>
              <td>Applicable Area (m<sup>2</sup>)</td>
              <td><input class="form-control" [(ngModel)]="newProduct.specifications.applicableArea" name="specapplicableArea"></td>
            </tr>
            <tr>
              <td>Weight (kg)</td>
              <td><input class="form-control" [(ngModel)]="newProduct.specifications.weight" name="specweight"></td>
            </tr>
          </table>
          <div class="form-group">
            <label for="price">Price</label>
            <input name="price" class="form-control" type="number" min="0" [(ngModel)]="newProduct.price" required>
          </div>
          <div class="form-group">
            <label for="mainImage">Main Image</label>
            <input name="mainImage" class="form-control" (change)="selectFile($event,'newProduct')" type="file">
          </div>
          <div class="form-group">
            <label for="image1">Image 1</label>
            <input name="image1" class="form-control" (change)="selectFiles($event,'image1','newProduct')" type="file">
          </div>
          <div class="form-group">
            <label for="image2">Image 2</label>
            <input name="image2" class="form-control" (change)="selectFiles($event,'image2','newProduct')" type="file">
          </div>
          <div class="form-group">
            <label for="image3">Image 3</label>
            <input name="image3" class="form-control" (change)="selectFiles($event,'image3','newProduct')" type="file">
          </div>
          <p>{{errorMessage}}</p>

          <div class="d-flex">
            <button class="btn btn-secondary pl-3 pr-3 mr-3" (click)="cancelProduct()">
              Cancel
            </button>
            <button class="btn btn-primary pl-5 pr-5" [disabled]="newproduct.invalid" (click)="createProduct()">
              <span *ngIf="!loading">ADD</span>
              <app-button-loader *ngIf="loading"></app-button-loader>
            </button>
          </div>
        </form>
      </div>

      <div class="existingProduct" *ngIf="editingProduct">
          
              <div class="form-group">
                <label for="name">Name</label>
                <input name="name" class="form-control" [(ngModel)]="existingProduct.name" required>
              </div>
              <div class="form-group">
                <label for="productNo">Product Number <span class="text-muted">(Used to sort the products)</span></label>
                <input name="productNo" type="number" min="0" class="form-control" [(ngModel)]="existingProduct.productNo" required>
              </div>
              <div class="form-group">
                <label for="shortDesc">Short Description</label>
                <input name="shortDesc" class="form-control" [(ngModel)]="existingProduct.shortDescription" required>
              </div>
              <div class="form-group">
                <label for="featList">Features List<span class="text-muted">(Start each item with " - " )</span></label>
                <textarea rows="5" name="featList" class="form-control" [(ngModel)]="existingProduct.description" required></textarea>
              </div>
              <div class="form-group">
                <label for="featText">Features Free Text <span class="text-muted">(Type "&lt;br/&gt;" to add a line break)</span></label>
                <textarea rows="3" name="featText" class="form-control" [(ngModel)]="existingProduct.featuresText"></textarea>
              </div>
              <table class="table">
                <tr>
                  <td>Air Volume (m<sup>3</sup>/h)</td>
                  <td><input class="form-control" [(ngModel)]="existingProduct.specifications.volume"></td>
                  <td>Water Consumption (L/H)</td>
                  <td><input class="form-control" [(ngModel)]="existingProduct.specifications.waterConsumption"></td>
                </tr>
                <tr>
                  <td>Power (kw)</td>
                  <td><input class="form-control" [(ngModel)]="existingProduct.specifications.power"></td>
                  <td>Size of air outlet (mm)</td>
                  <td><input class="form-control" [(ngModel)]="existingProduct.specifications.sizeAirOutlet"></td>
                </tr>
                <tr>
                  <td>Voltage (V)</td>
                  <td><input class="form-control" [(ngModel)]="existingProduct.specifications.voltage"></td>
                  <td>Outside Dimension (mm)</td>
                  <td><input class="form-control" [(ngModel)]="existingProduct.specifications.outsideDimension"></td>
                </tr>
                <tr>
                  <td>Frequency (Hz)</td>
                  <td><input class="form-control" [(ngModel)]="existingProduct.specifications.frequency"></td>
                  <td>Applicable Area (m<sup>2</sup>)</td>
                  <td><input class="form-control" [(ngModel)]="existingProduct.specifications.applicableArea"></td>
                </tr>
                <tr>
                  <td>Weight (kg)</td>
                  <td><input class="form-control" [(ngModel)]="existingProduct.specifications.weight"></td>
                </tr>
              </table>
              <div class="form-group">
                <label for="price">Price</label>
                <input name="price" class="form-control" type="number" min="0" [(ngModel)]="existingProduct.price" required>
              </div>
              <div class="d-flex existingImages">
                <div *ngIf="existingProduct.mainImageUrl"><span class="material-icons cursor" (click)="deleteImage('mainImageUrl')">delete_forever</span><img [src]="existingProduct.mainImageUrl"><p>Main Image</p></div>
                <div *ngIf="existingProduct.image1Url"><span class="material-icons cursor" (click)="deleteImage('image1Url')">delete_forever</span><img [src]="existingProduct.image1Url.url"><p>Image 1</p></div>
                <div *ngIf="existingProduct.image2Url"><span class="material-icons cursor" (click)="deleteImage('image2Url')">delete_forever</span><img [src]="existingProduct.image2Url.url"><p>Image 2</p></div>
                <div *ngIf="existingProduct.image3Url"><span class="material-icons cursor" (click)="deleteImage('image3Url')">delete_forever</span><img [src]="existingProduct.image3Url.url"><p>Image 3</p></div>
              </div>
              <div class="form-group">
                 
                <label for="mainImage">Main Image</label>
                <input name="mainImage" class="form-control" (change)="selectFile($event,'existingProduct')" type="file">
              </div>
              <div class="form-group">
                <label for="image1">Image 1</label>
                <input name="image1" class="form-control" (change)="selectFiles($event,'image1','existingProduct')" type="file">
              </div>
              <div class="form-group">
                <label for="image2">Image 2</label>
                <input name="image2" class="form-control" (change)="selectFiles($event,'image2','existingProduct')" type="file">
              </div>
              <div class="form-group">
                <label for="image3">Image 3</label>
                <input name="image3" class="form-control" (change)="selectFiles($event,'image3','existingProduct')" type="file">
              </div>
              <p>{{errorMessage}}</p>
    
              <div class="d-flex">
                <button class="btn btn-secondary pl-3 pr-3 mr-3" (click)="cancelExistingProduct()">
                  Cancel
                </button>
                <button class="btn btn-primary pl-5 pr-5" (click)="saveProduct()">
                  <span *ngIf="!loading">Save</span>
                  <app-button-loader *ngIf="loading"></app-button-loader>
                </button>
              </div>
      </div>


      <div *ngIf="selectedCategory && !newProduct && !existingProduct">
        <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th width="5%"></th>
              <th width="15%">Name</th>
              <th width="25%">Short Description</th>
              <th width="25%">Description</th>
              <th width="15%">Price</th>
              <th width="10%">Image</th>
              <th width="5%"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of selectedCategory.products">
              <td>
                <div dropdown>
                  <div class="cursor" dropdownToggle><span class="material-icons">delete_forever</span></div>
                  <div *dropdownMenu class="dropdown-menu" role="menu">
                    <div class="p-2">
                      <p>Are you sure you want to delete this Product?</p>
                      <div class="d-flex">
                        <button class="btn btn-secondary mr-1">Cancel</button>
                        <button (click)="deleteProduct(product._id)" class="btn btn-primary">Delete</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>{{product.name}}</td>
              <td>{{product.shortDescription}}</td>
              <td>{{product.description | slice:0:40}} ...</td>
              <td>{{product.price | currency:"R "}}</td>
              <td>
                <img [src]="product.mainImageUrl" width="80%">
              </td>
              <td>
                <button class="btn btn-primary" (click)="editProduct(product)">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>

    </div>
  </div>
</div>