<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Cellphone</th>
              <th>Category</th>
              <th>Product</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders | async">
              <td>{{order.name}}</td>
              <td>{{order.email}}</td>
              <td>{{order.phone}}</td>
              <td>{{order.category}}</td>
              <td>{{order.product}}</td>
              <td>
                <button *ngIf="!order.read" class="btn btn-primary" (click)="order.read=true;setRead(true,order)">Mark as read</button>
                <button *ngIf="order.read" class="btn btn-primary" (click)="order.read=false;setRead(false,order)">Mark as unread</button>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>
  </div>
</div>