<div class="w-100" style="position:relative">
  <div class="navigation">
      <app-nav></app-nav>
  </div>
  <div class="content h-100">
      <router-outlet></router-outlet>
  </div>

      <footer>
         &copy; All rights reserved | <a routerLink="/admin/login">Login</a>
      </footer>
  
</div>
