@import "./../sass/main";
.navigation{

    transition: all;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 999;
    -moz-transition: top .5s;
    -o-transition: top .5s;
    transition: top .5s;
}

.content{
    z-index: 100;
    height: 100%;
    padding-bottom: 100px;
}

footer{
   min-height: 60px;
   background-color: $grey;
   padding: 2rem 0;
   position: relative;
   bottom: 0;
   text-align: center;
   color: $lightGrey;
   font-size: 12px;
   a,a:hover{
    color: $lightGrey;
   }
}


@media (max-width:992px) {
    .navigation{
        top: 0;
    }   
    .content{
        margin-top: 100px;
    }
}