@import "./../../sass/main";

.categoryBar{
    width: 100%;
    height: 100%;
    background-color: $darkGrey;
    color: #fff;
    padding: 1rem; 
    h4{
        padding-bottom: 10px;
        border-bottom: 1px solid #fff;
        margin-bottom: 2rem;
    }
    ul{
        li{
            &.active a{
                border-bottom: 1px solid $red;
            }
            text-decoration: none;
            list-style: none;
            a{
                &:hover{
                    cursor: pointer;
                    border-bottom: 1px solid #fff
                }
            }
        }
    }
}
.row{
    .productCol{
        margin-top: 1rem;
    }
    .productCol:nth-child(1),.productCol:nth-child(2),.productCol:nth-child(3){
        margin-top: 0rem!important;
    }
   
}

.productBlock{
    margin: 0 1rem;
    border-radius: 0;
    padding: 1rem;
    width: 100%;
    height: 100%;
    background-color: $lightGrey;
    
    .product-body{
  
    }
    img{
        text-align: center;
        width: 80%;
    }
}
