
<div class="row" >
  <div class="col-12">
    <h2 class="text-center">Products</h2>
    <hr class="mb-4">
  </div>
</div>

  <div class="row h-100 position-relative" >
      <div class="loader w-100 h-100" *ngIf="loading">
          <div class="spinner"></div>
          <div class="text">Fetching Products</div>
        </div>

  <div class="col-md-3 col-12">
    <div class="categoryBar h-100">
        <h4 class="text-center">Categories</h4>
        <ul *ngIf="categories.length!=0" class="m-0 pl-0">
          <li *ngFor="let category of categories" >
            <a class="mb-2" (click)="setProducts(category)">{{category.name}} 
              <span class="material-icons float-right" *ngIf="category._id==selectedCategory._id">chevron_right</span>
            </a>
          </li>
        </ul>
    </div>
    
  </div>
  <div class="col-md-9 col-12 h-100">
      <div class="row row-eq-height ml-0 mr-0">
        <div class="col-sm-4 productCol" *ngFor="let product of products">
            <div class="productBlock">
              <div class="text-center">
                <img [src]="product.mainImageUrl" alt="Product Images">
                </div>
                <div class="product-body mt-2">
                  <h5 class="product-name">{{product.name}}</h5>
                  <p class="product-desc">{{product.shortDescription}}</p>
                  <p class="product-desc" *ngIf="product.price!=0">{{product.price | currency:"R "}} <span class="text-muted">Incl. VAT</span></p>
                  <p class="product-desc" *ngIf="product.price==0"><span class="text-muted">Price On Request</span></p>
                  <a href="#" class="btn btn-primary" [routerLink]="'/category/' + selectedCategory._id + '/product/' + product._id">View</a>
                </div>
              </div>
        </div>
      </div>
  </div>
</div>


