<div class="row mt-4">
  <div class="col-md-6 col-8 mx-auto">
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" class="form-control" [(ngModel)]="email" type="email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" class="form-control" [(ngModel)]="password" type="password">
    </div>
    <div *ngIf="errorMessage" class="form-group">
      <p>{{errorMessage}}</p>
    </div>
    <button class="btn btn-primary pl-5 pr-5" (click)="login()"> 
      <span *ngIf="!loading">Login</span>
      <app-button-loader *ngIf="loading"></app-button-loader>
    </button>
  </div>
</div>