<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2>Coming Soon</h2>
      <blockquote class="blockquote">
        <p class="mb-0">Shows how many users visits the website</p>
      </blockquote>
    </div>
    

  </div>
</div>